[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "martin-binance"
authors = [{name = "Jerry Fedorenko", email = "jerry.fedorenko@yahoo.com"}]
readme = "README.md"
license = {file = "LICENSE"}
classifiers=["Programming Language :: Python :: 3",
             "Development Status :: 5 - Production/Stable",
             "License :: OSI Approved :: MIT License",
             "Operating System :: Unix",
             "Operating System :: Microsoft :: Windows",
             "Operating System :: MacOS"]
dynamic = ["version", "description"]
requires-python = ">=3.9"

dependencies = [
    "exchanges-wrapper>=2.1.33",
    "betterproto==2.0.0b7",
    "colorama==0.4.6",
    "dash==2.18.2",
    "future==1.0.0",
    "inquirer==3.4.0",
    "jsonpickle==4.0.2",
    "libtmux==0.44.2",
    "numpy~=2.2.3",
    "optuna==4.2.1",
    "orjson~=3.10.15",
    "pandas==2.2.3",
    "plotly==6.0.0",
    "prometheus-client==0.21.1",
    "psutil==7.0.0",
    "pyarrow~=19.0.1",
    "requests==2.32.3",
    "schedule~=1.2.2",
    "scikit-learn==1.6.1",
    "scipy==1.15.2",
    "shortuuid~=1.0.13",
    "toml~=0.10.2",
    "tqdm==4.67.1",
    "ujson~=5.10.0"
]

[tool.flit.module]
name = "martin_binance"

[project.urls]
Source = "https://github.com/DogsTailFarmer/martin-binance"

[project.scripts]
martin-binance-init = "martin_binance.__init__:init"
martin-binance-backtest = "martin_binance.backtest.OoTSP:main"
