exchanges-wrapper==2.1.46
aiofiles==25.1.0
aiocsv==1.4.0
apscheduler==3.11.2
betterproto==2.0.0b7
colorama==0.4.6
dash==2.18.2
inquirer==3.4.0
jsonpickle==4.1.1
libtmux==0.53.0
numpy~=2.4.2
optuna==4.7.0
orjson~=3.11.7
pandas==3.0.0
plotly==6.0.0
prometheus-client==0.24.1
psutil==7.2.2
pyarrow~=23.0.0
pymannkendall==1.4.3
requests==2.32.5
schedule~=1.2.2
scikit-learn==1.8.0
scipy==1.17.0
shortuuid~=1.0.13
toml~=0.10.2
tqdm==4.67.3
ujson~=5.11.0