exchanges-wrapper==1.3.0
margin-strategy-sdk==0.0.11
aiohttp==3.8.4
grpcio==1.54.2
grpcio-tools==1.54.2
jsonpickle==3.0.1
psutil==5.9.5
requests==2.31.0
simplejson==3.19.1
toml==0.10.2
libtmux==0.22.1
colorama==0.4.6
prometheus-client==0.17.0
optuna==3.2.0
plotly==5.14.1
pandas==2.0.2
dash==2.10.2
future==0.18.3
